n8n/hourly_ollama_reports.workflow.json
{
  "name": "Hourly Ollama Stock Reports",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "b1a1f000-0000-4000-8000-000000000001",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "command": "\"C:\\Users\\hatfi\\OneDrive\\Desktop\\Hatfield_Financial\\Hatfield_Financial\\.venv\\Scripts\\python.exe\" \"C:\\Users\\hatfi\\OneDrive\\Desktop\\Hatfield_Financial\\Hatfield_Financial\\sandbox_ollama.py\""
      },
      "id": "b1a1f000-0000-4000-8000-000000000002",
      "name": "Generate Reports (sandbox_ollama.py)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1a1f000-0000-4000-8000-000000000003",
      "name": "Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "hatfield.tyler@gmail.com",
        "toEmail": "hatfield.tyler@gmail.com",
        "subject": "={{ $json.exitCode === 0 ? '✅ Ollama Stock Reports — run complete' : '⚠️ Ollama Stock Reports — run finished with errors' }}",
        "emailFormat": "text",
        "text": "={{ 'Exit code: ' + $json.exitCode + '\\n\\n' + ($json.stdout ? $json.stdout.slice(-1500) : '(no stdout captured)') + ($json.stderr ? '\\n\\n--- stderr (tail) ---\\n' + $json.stderr.slice(-1000) : '') }}",
        "options": {}
      },
      "id": "b1a1f000-0000-4000-8000-000000000005",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1160, 300],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "content": "## Hourly→30-min Ollama Stock Reports\n\nFires every 30 minutes and runs `sandbox_ollama.py` with the project venv.\nThe script loops the TICKERS array and writes `reports/{TICKER}_{DATE}.md`.\n\n**Edit the ticker list** in `sandbox_ollama.py` (TICKERS), not here.\n\nExactly ONE email is sent per full run (not per report) — both branches of\n`Failed?` feed the same \"Send Completion Email\" node, so you get a success\nnotice or a failure notice, never both, never per-ticker.\n\n**Before activating:** open \"Send Completion Email\" and create/select an\nSMTP credential (Settings → Credentials → New → SMTP) using a Gmail App\nPassword — https://myaccount.google.com/apppasswords (requires 2FA enabled\non the Google account). Do NOT put the password directly in this JSON file.\n\nRequires: Ollama running on 127.0.0.1:11434 with the `qwen3:4b` model pulled\n(fits the 6 GB GPU; ~61 tok/s vs ~8 tok/s for the 8b on CPU).",
        "height": 340,
        "width": 420
      },
      "id": "b1a1f000-0000-4000-8000-000000000004",
      "name": "Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [340, 560]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Generate Reports (sandbox_ollama.py)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reports (sandbox_ollama.py)": {
      "main": [
        [
          {
            "node": "Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failed?": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
